{% extends "layout.html" %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %} - Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
      <p>Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>get a flood warnings account for your organisation</li>
        <li>set up flood warnings for more than 10 locations in England</li>
        <li>give more than one person access to your organisation’s account</li>
      </ul>
      <p>Getting set up takes about XX minutes.</p>
      <div class="govuk-inset-text">
        There is a different service if you need to <a href="/">get flood warnings for only a few locations</a>.
      </div>
      <a href="02-terms-and-conditions.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>You will need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>know the names and email addresses of everyone who needs access to your flood warnings account</li>
        <li>have a file that lists the locations you need flood warnings for – a ShapeFile saved in ZIP format or an XLS spreadsheet</li>
        <li>tell us how you want to receive flood warnings – by text, phonecall or email</li>
      </ul>
      <p>Each location needs to be a full UK postcode.</p>
      <p>There are different services if your organisation is in Wales or Scotland. These are run by <a href="/">Natural Resources Wales</a> and <a href="/">Scotland Environment Protection Agency</a>.</p>
    </div>
  </div>
{% endblock %}
