{% extends "layout.html" %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %} - Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
          {{ govukRadios({
            idPrefix: "how-do-you-want-to-add-your-locations",
            name: "how-do-you-want-to-add-your-locations",
            fieldset: {
              legend: {
                text: "How do you want to add your locations?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            
            items: [
              {
                value: "using-each-postcode",
                text: "Using each postcode"
              },
              {
                value: "by-uploading-a-file-containing-all-the-locations",
                text: "By uploading a file containing all the locations"
              }
            ]
          }) }}
          {% set detailsContentHTML %}
            <p>You can upload:</p>
            <ul>
              <li>ESRI ShapeFile, saved as a ZIP file containing a *.SHP, a *.DBF, and a *.SHX file.</li>
              <li>XLS or XLSX spreadsheet</li>
            </ul>
          {% endset %}
          {{ govukDetails({
              summaryText: "File types you can use",
              html: detailsContentHTML
            }) }}
            {{
              govukButton({
                text: "Save and continue",
                href: "04-upload-file"
              })
            }}

      </div>
    </div>
  </div>
{% endblock %}