{% extends "layout.html" %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %} - Confirm upload
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Confirm upload
      </h1>
      <p class="govuk-body">You selected this file to upload.</p>
      <p class="govuk-body">[filename and preview]</p>
        {{
          govukButton({
            text: "Add file",
            href: "06-check-locations"
          })
        }}
      <p class="govuk-body"><a class="govuk-link" href="/version-1/04-upload-file">Choose a different file</a></p>
    </div>
  </div>
{% endblock %}