{% extends "layout.html" %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %} - Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your locations
      </h1>
    </div>
  </div>
    <div class="govuk-grid-column">
      {{ govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Location reference"
          },
          {
            text: "Location name"
          },
          {
            text: "Type"
          },
          {
            text: "View location"
          },
          {
            text: "Remove location"
          }
        ],
        rows: [
          [
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            }
          ],
          [
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            }
          ],
          [
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            }
          ]
        ]
      }) }}
      <p class="govuk-body"><a class="govuk-link" href="/version-1/03-add-locations">Add more locations</a></p>
      {{
        govukButton({
          text: "Continue",
          href: "07-set-up-warning-notifications"
        })
      }}
    </div>
  </div>
{% endblock %}