{% extends "layout.html" %}

{% from "data/location-data.dta" import locationdata %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %} - Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-column">

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-heading-xl">Your locations</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Location name</th>
            <th scope="col" class="govuk-table__header">Location reference</th>
            <!-- <th scope="col" class="govuk-table__header">Easting</th>
            <th scope="col" class="govuk-table__header">Northing</th> -->
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">View location</span></th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Remove location</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for locate in locationdata %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                      {{ locate.locationName }}
                </td>
                <td class="govuk-table__cell">
                      {{ locate.locationReference }}
                </td>
                <!-- <td class="govuk-table__cell">
                      {{ locate.easting }}
                </td>
                <td class="govuk-table__cell">
                      {{ locate.northing }}
                </td>
                -->
                <td class="govuk-table__cell">
                      {{ locate.type }}
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="#">View</a>
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="#">Delete</a>
                </td>
              </tr>
            {% else %}
                No data
            {% endfor %}
        </tbody>
      </table>
      <p class="govuk-body"><a class="govuk-link" href="/version-1/03-add-locations">Add more locations</a></p>
      {{
        govukButton({
          text: "Continue",
          href: "07-set-up-warning-notifications"
        })
      }}
    </div>
  </div>
{% endblock %}
