{% extends "layout.html" %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %} - Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Set your warnings
      </h1>
    </div>
  </div>
    <div class="govuk-grid-column">

        {% set checkboxOne %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkboxOne" name="checkboxOne" type="checkbox" value="checkboxOne">
                  <label class="govuk-label govuk-checkboxes__label" for="checkboxOne">
                  </label>
                </div>
              </div>
        {% endset %}

        {% set checkboxTwo %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkboxTwo" name="checkboxTwo" type="checkbox" value="checkboxTwo">
                  <label class="govuk-label govuk-checkboxes__label" for="checkboxTwo">
                  </label>
                </div>
              </div>
        {% endset %}

        {% set checkboxThree %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkboxThree" name="checkboxThree" type="checkbox" value="checkboxThree">
                  <label class="govuk-label govuk-checkboxes__label" for="checkboxThree">
                  </label>
                </div>
              </div>
        {% endset %}

        {% set checkboxFour %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkboxFour" name="checkboxFour" type="checkbox" value="checkboxFour">
                  <label class="govuk-label govuk-checkboxes__label" for="checkboxFour">
                  </label>
                </div>
              </div>
        {% endset %}

        {% set checkboxFive %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkboxive" name="checkboxFive" type="checkbox" value="checkboxive">
                  <label class="govuk-label govuk-checkboxes__label" for="checkboxive">
                  </label>
                </div>
              </div>
        {% endset %}

        {% set checkboxSix %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkboxSix" name="checkboxSix" type="checkbox" value="checkboxSix">
                  <label class="govuk-label govuk-checkboxes__label" for="checkboxSix">
                  </label>
                </div>
              </div>
        {% endset %}

        {% set checkboxSeven %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkboxSeven" name="checkboxSeven" type="checkbox" value="checkboxSeven">
                  <label class="govuk-label govuk-checkboxes__label" for="checkboxSeven">
                  </label>
                </div>
              </div>
        {% endset %}

        {% set checkboxEight %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkboxEight" name="checkboxEight" type="checkbox" value="checkboxEight">
                  <label class="govuk-label govuk-checkboxes__label" for="checkboxEight">
                  </label>
                </div>
              </div>
        {% endset %}

        {% set checkboxNine %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="checkboxNine" name="checkboxNine" type="checkbox" value="checkboxNine">
                  <label class="govuk-label govuk-checkboxes__label" for="checkboxNine">
                  </label>
                </div>
              </div>
        {% endset %}


      {{ govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Location reference"
          },
          {
            text: "Location name"
          },
          {
            text: "Alerts"
          },
          {
            text: "Warnings"
          },
          {
            text: "Severe warnings"
          }
        ],
        rows: [
          [
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              html: checkboxOne
            },
            {
              text: "",
              html: checkboxTwo
            },
            {
              text: "",
              html: checkboxThree
            }
          ],
          [
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              html: checkboxFour
            },
            {
              text: "",
              html: checkboxFive
            },
            {
              text: "",
              html: checkboxSix
            }
          ],
          [
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              html: checkboxSeven
            },
            {
              text: "",
              html: checkboxEight
            },
            {
              text: "",
              html: checkboxNine
            }
          ]
        ]
      }) }}
      <p class="govuk-body"><a href="#">Add more locations</a></p>
      {{
        govukButton({
          text: "Save",
          href: "09-thank-you"
        })
      }}
    </div>
  </div>
{% endblock %}