{% extends "layout.html" %}

{% from "data/location-data.dta" import locationdata %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %} - Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Set your warnings
      </h1>
    </div>
  </div>
    <div class="govuk-grid-column">


      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-heading-xl">Your locations</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Location name</th>
            <th scope="col" class="govuk-table__header">Location reference</th>
            <!-- <th scope="col" class="govuk-table__header">Easting</th>
            <th scope="col" class="govuk-table__header">Northing</th> -->
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">View location</span></th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Remove location</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for locate in locationdata %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                      {{ locate.locationName }} 
                </td>
                <td class="govuk-table__cell">
                      {{ locate.locationReference }} 
                </td>
                <!-- <td class="govuk-table__cell">
                      {{ locate.easting }} 
                </td>
                <td class="govuk-table__cell">
                      {{ locate.northing }} 
                </td>
                -->
                <td class="govuk-table__cell">
                      {{ locate.type }} 
                </td>
                <td class="govuk-table__cell">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="checkboxOne" name="checkboxOne" type="checkbox" value="checkboxOne">
                        <label class="govuk-label govuk-checkboxes__label" for="checkboxOne">
                        </label>
                      </div>
                    </div>
                </td>
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="checkboxOne" name="checkboxOne" type="checkbox" value="checkboxOne">
                      <label class="govuk-label govuk-checkboxes__label" for="checkboxOne">
                      </label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="checkboxOne" name="checkboxOne" type="checkbox" value="checkboxOne">
                      <label class="govuk-label govuk-checkboxes__label" for="checkboxOne">
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
            {% else %}
                No data
            {% endfor %}
        </tbody>
      </table>

      <p class="govuk-body"><a class="govuk-link" href="/version-1/03-add-locations">Add more locations</a></p>
      {{
        govukButton({
          text: "Save",
          href: "09-thank-you"
        })
      }}
    </div>
  </div>
{% endblock %}