{% extends "layout.html" %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %} - Terms for using this flood warning service
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="03-add-locations" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-heading-l">
                Terms for using this flood warning service
              </h1>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="mixed" name="mixed" type="checkbox" value="paperless">
                <label class="govuk-label govuk-checkboxes__label" for="mixed">
                  I have read and agree to the <a href="">terms and conditions</a> for this service
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{
          govukButton({
            text: "Save",
            href: "..index-v1"
          })
        }}
      </form>  
    </div>
  </div>
{% endblock %}