
{% extends "layout.html" %}

{% block pageTitle %}
  Targeted Flood Warning Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Targeted Flood Warning Service</h1>
      <p class="govuk-body">This prototype is for testing ideas for Alpha on the service Targeted Flood Warning Service (TFWS).</p>
      <p>It is not an end to end journey service prototype but a platform to show ideas to colleagues, and to do user research</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design resources: user needs map, user flows, wireframes
          </span>
        </summary>
        <div class="govuk-details__text">
          <strong>Version 1</strong></br>
            <a href="https://jamboard.google.com/d/1cM2Ne44zdZeY_79scOpVvIx_syteQf3a54jgG01BlV0/viewer?f=0">Story mapping workshop</a> (Google Jamboard)</br>
            <a href="https://docs.google.com/drawings/d/10-yfjpNzIi08GECSiQaNqyK170DPvQnumvwr5Y1fHQE/edit">User flow</a> (Google Drawings)</br>
            <a href="https://docs.google.com/presentation/d/1txouUe4qJT6dyGlwZjo8ZPULLyj23ds0YTSmFyGVXFk/edit#slide=id.g10295e7da58_0_1">Content</a> (Google Slides)
          </div>
      </details>
      </div>
      <div class="govuk-grid-column-three-quarters">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <!-- ########################################################################### -->

      <h3 class="govuk-heading-m">Alpha design tests</h3>

      <p class="govuk-body">
        <a href="/prototype-admin/clear-data">Clear stored data</a> 
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">What's changed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v1">VERSION 1-0</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: purple;">
              READY FOR UR
            </strong></br>Date TBC</td>
            <td class="govuk-table__cell"><p class="govuk-body">Pre Alpha proof of concept journey:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Start page - ADDED</li>
                <li>Terms and conditions - ADDED</li>
                <li>Add locations - ADDED</li>
                <li>Upload file - ADDED</li>
                <li>Confirm upload - ADDED</li>
                <li>Check locations - ADDED</li>
                <li>Set up warning notifications - ADDED</li>
                <li>Warning settings - ADDED</li>
              </ul></td>
          </tr>
        </tbody>
      </table>
      <h3 class="govuk-heading-m">Sandbox</h3>
      <p class="govuk-body">A playground to demo hypotheses</p>
      <p class="govuk-body"><a href="sandbox/preview-file/">Preview file</a></p>
    </div>
  </div>

{% endblock %}
