
{% extends "layout.html" %}

{% block pageTitle %}
  Targeted Flood Warning Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Targeted Flood Warning Service</h1>
      <p class="govuk-body">
        <a href="/prototype-admin/clear-data">Clear stored data</a> 
      </p>
      <p class="govuk-body">This prototype is for testing ideas for Alpha on the service Targeted Flood Warning Service (TFWS). It is not an end to end journey service prototype but a platform to show ideas to colleagues, and to do user research</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <!-- ########################################################################### -->

      <h3 class="govuk-heading-m">Alpha design tests</h3>

      <!--#### <li><a href="/change-log">Prototype change log</a></li> ####-->
      <section>
        <p><a href="/index-v1">Version 1</a></p>
      </section>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <!-- ########################################################################### -->

    </div>
  </div>

{% endblock %}
