
{% extends "layout.html" %}

{% block pageTitle %}
  Targeted Flood Warning Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "index.html",
        classes: "govuk-!-margin-bottom-7"
      }) }}

      <h1 class="govuk-heading-xl">Version 1</h1>


        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
            govukButton({
                text: "Start prototype",
                href: "version-1/01-start.html"
            })
        }}
        
    </div>
  </div>

{% endblock %}
